<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Puntaje</th>
      <th>Editar</th>
      <th>Borrar</th>
    </tr>
  </thead>
  <tbody>
    <% Logro.all.each do |l| %>
    <tr>
    <th scope="row">1</th>
    <td><%= l.nombre %></td>
    <td><%= l.puntaje %></td>
    <td><%= link_to 'Editar', edit_usuario_registration_path, :class => 'btn btn-default'%></td>
    <td><%= link_to 'Borrar', edit_usuario_registration_path, :class => 'button'%></td>
    </tr>
    <% end %>
  </tbody>
</table>
