<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un link para cambiar tu contraseña. Puedes hacerlo siguiendo el siguient link:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no lo has solicitado, por favor ignora este correo.</p>
<p>Tu contraseña no cambiara hasta que accedas al link superior y crees una nueva.</p>
