<%@postulante=Postulante.new%>
<%= form_for(@postulante) do |p| %>

<div class="field">
  <%= p.label :nombre %><br />
  <%= p.text_area :usuario_id,required: true, autofocus: true %>
</div>


  <button type="button" class="btn btn-primary">Postularme!
    <%= p.submit "Crear" %>
  </button>
<% end %>
