<h3>Gauchadas completadas</h3>

<% @gauchadas.each do |gauchada| %>
<div class="col-lg-4 col-md-4 col-xs-6 thumb">
  <a class="thumbnail">
    <img class="img-responsive" style="width: 200px; height: 200px" src="<%=gauchada.imagen%>" alt="">
  </a>
  <div class = "caption" style="width: 200px; height: 200px">
    <%u=Usuario.find(gauchada.usuario_id)%>
    <td><%= u.nombre %>: </td>
    <td><%= truncate(gauchada.descripcion, length: 50) %></td>
    </br>
    </br>
    <%= link_to '<i class="glyphicon glyphicon-ok"> Ver mas</i>'.html_safe, gauchada_path(gauchada), class: 'btn btn-success'%>
  </div>
</div>
<% end %>
