<br><br><br><br><br>
<footer class="footer">
  <nav class="navbar navbar-default navbar-bottom" role="navigation">
    <div class="container">
      Copyright © 1999-2016 UnaGauchada
      <ul class="list-inline pull-right">
        <li><a href="/under_construction" data-tracking="FOOTER-TERMINOS">Términos y condiciones</a></li>
        <li><a href="/under_construction" data-tracking="FOOTER-PRIVACIDAD">Políticas de privacidad</a></li>
        <li> <%= link_to "Ayuda", '/under_construction' %></li>
      </ul>
    </div>
  </nav>
</footer>
