<footer>


<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
  <div class="container">
    <div class="navbar-footer">
      <li> <%= link_to "Ayuda", '/under_construction' %></li>
    </div>
    <div class="collapse navbar-collapse">
    </div><!--/.nav-collapse -->
  </div>

</div>
</footer>
