<footer>
  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        Copyright © 1999-2016 UnaGauchada
        <ul class="list-inline pull-right">
          <li><a href="./terminos.php" data-tracking="FOOTER-TERMINOS">Términos y condiciones</a></li>
          <li><a href="./privacidad.php" data-tracking="FOOTER-PRIVACIDAD">Políticas de privacidad</a></li>
          <li> <%= link_to "Ayuda", '/under_construction' %></li>
        </ul>
    </div>
  </nav>
</footer>
