<header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- menu responsive -->
        <div class="navbar-header">
          <%= link_to root_path, class: 'navbar-brand hidden-xs' do %>
            <%= image_tag "logo.png", title: "Logo", class: "logo" %>
          <% end %>
          <% end %>
          <%= link_to('Logout', destroy_usuario_session_path, :method => :delete) %>
        </div>
      </div>
    </nav>
</header>
